body {
    font-family: 'Courier New', Courier, monospace;
    background: #242B2E !important;
    color: #ffffff !important;
}


.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand {
    margin-left: 3rem;
    color: #120E43 !important;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #5DA3FA !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #5DA3FA !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #120E43 !important;
}

.blog-main {
    margin-left: 3rem;
    margin-top: 2rem;
}

#blog-intro{
    margin-top: 3rem;
    width: 60%;
}

#blog-intro h3 {
    color: #12B0E8;
}

#blog-intro button {
    background: #F4BE2C;
    border: none;
    padding: 0.4rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    border-radius: 10px;
    color: #242B2E;
    transition: 0.4s;
    border: 1px solid #F4BE2C;
}

#blog-intro button:hover{
    background: #242B2E;
    color: #F4BE2C;
    border: 1px solid #F4BE2C;
}


#intro-section{
    margin-top: 3rem;
    width: 60%;
}

.FirstName, .LastName{
    color: #F4BE2C;
}

.FirstName{
    margin-left: 4em;
}

#intro-image{
    display:flex;
    align-items: center;
}

#technologies {
    width: 60%;
    margin-top: 3rem;
}
